.welcome
  .welcome__user-action
    .welcome__user-action--title
      ようこそ転職サプリへ
    .welcome__user-action--register
      = link_to "新規登録", new_user_registration_path
    .welcome__user-action--login
      = link_to "ログイン", new_user_session_path