= render 'shared/header'

.body-conditions
  .body-conditions__new
    = button_tag '活動登録', type: 'button', class: 'body-conditions__new--button'

  .body-conditions__find
    %input.body-conditions__find--box{type: "text", placeholder: "検索ワード"}
    
  .body-conditions__list
    %table.conditions-table
      %tbody.conditions-table__body__title
        %tr.conditions-table__column__title
          - if current_user.admin?
            %th.conditions-table__column__title--user
              ユーザー
          %th.conditions-table__column__title--status
            状況
          %th.conditions-table__column__title--result
            結果
          %th.conditions-table__column__title--company-name
            企業名
          %th.conditions-table__column__title--company-area
            地域
          %th.conditions-table__column__title--date
            次回日程
          %th.conditions-table__column__title--memo
            メモ
          %th.conditions-table__column__title--edit
            編集/削除
      - @conditions.each do |c|
        = render partial: "conditions/condition", locals: { condition: c }

.modal-overlay
  .modal-overlay__items
    = render partial: "conditions/form", locals: { condition: @condition }