.header
  .header__title
    転職サプリ
  .header__contents
    - if user_signed_in?
      .header__contents--name
        ようこそ #{current_user.nickname} さん
      .header__contents--button
        = link_to "ログアウト", destroy_user_session_path, method: :delete
        -# = link_to "ログアウト", destroy_user_session_path, method: :delete do
        -#   = icon('fas', 'sign-out-alt', class: "button")
    - else
      .header__contents--name
        = link_to "新規登録", new_user_registration_path
      .header__contents--button
        = link_to "ログイン", new_user_session_path