$font-family: "メイリオ", Arial, sans-serif;
$font-size-title: 50px;
$font-size-subtitle: 40px;
$font-size-middle: 25px;
$font-size-body: 15px;
$font-color-title: rgb(73, 35, 5);
$font-color-subtitle: rgb(3, 3, 3);
$font-color-body: rgb(48, 45, 45);


$font-color-title-comp: rgb(235, 231, 228);
$font-color-subtitle-comp: rgb(240, 238, 238);
$font-color-body-comp: rgb(238, 231, 231);