@import "fonts";

.notification {
  .notice {
    font-family: $font-family;
    background-color: aquamarine;
    color: rgb(20, 19, 19);
    text-align: center;
  }

  .alert {
    background-color: red;
    color: white;
    text-align: center;
  }
}